# Application
APP_NAME=sso
# dev | prod | local
ENV=local
# GRPC
GRPC_PORT=44044
GRPC_TIMEOUT=10s
# Http
HTTP_PORT=8080
# Database
POSTGRES_HOST=localhost
POSTGRES_DB=postgres
POSTGRES_EXTERNAL_PORT=5436
POSTGRES_USER=postgres
POSTGRES_PASSWORD=qwerty
POSTGRES_VOLUME=
POSTGRES_SSL_MODE=disable
POSTGRES_URI=
# Cash / Redis
# JWT
JWT_SECRET=my-secret
JWT_TOKEN_TTL=12h
