# Application
APP_NAME=sso
# dev | prod | local
ENV=local

# GRPC
GRPC_PORT=44044
GRPC_TIMEOUT=10s

# HTTP
HTTP_PORT=8080

# Database (PostgreSQL)
# Для локальной разработки: localhost
# Для Docker: postgres (имя сервиса)
POSTGRES_HOST=localhost
POSTGRES_DB=postgres
POSTGRES_EXTERNAL_PORT=5436
POSTGRES_USER=postgres
POSTGRES_PASSWORD=qwerty
POSTGRES_VOLUME=
POSTGRES_SSL_MODE=disable
# Если задан URI, остальные PG-переменные игнорируются
POSTGRES_URI=

# Redis (Event Bus / Token Invalidation)
# Для локальной разработки: 127.0.0.1
# Для Docker: redis (имя сервиса)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379

# JWT
# ⚠️ ОБЯЗАТЕЛЬНО сменить в prod!
JWT_SECRET=my-secret
JWT_TOKEN_TTL=12h
